<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button routerLink="/" class="btn btn-link">
      To Home
    </button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur fugiat in molestias nam reprehenderit ullam! Aspernatur at atque beatae corporis dolor doloremque dolorum earum eos expedita explicabo facilis hic impedit incidunt, iusto laborum maiores minima nesciunt non officia omnis possimus, provident quae quisquam recusandae, reiciendis sequi totam voluptate voluptatem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur fugiat in molestias nam reprehenderit ullam! Aspernatur at atque beatae corporis dolor doloremque dolorum earum eos expedita explicabo facilis hic impedit incidunt, iusto laborum maiores minima nesciunt non officia omnis possimus, provident quae quisquam recusandae, reiciendis sequi totam voluptate voluptatem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur fugiat in molestias nam reprehenderit ullam! Aspernatur at atque beatae corporis dolor doloremque dolorum earum eos expedita explicabo facilis hic impedit incidunt, iusto laborum maiores minima nesciunt non officia omnis possimus, provident quae quisquam recusandae, reiciendis sequi totam voluptate voluptatem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur fugiat in molestias nam reprehenderit ullam! Aspernatur at atque beatae corporis dolor doloremque dolorum earum eos expedita explicabo facilis hic impedit incidunt, iusto laborum maiores minima nesciunt non officia omnis possimus, provident quae quisquam recusandae, reiciendis sequi totam voluptate voluptatem.</p>
  </div>
</div>
